.smallBtn{
    background: linear-gradient(160deg, #ff79d9 5%, #9356DC 100%);
    border-radius: 28px;
    border: 0px;
    display: inline-block;
    cursor: pointer;
    color :white;
    font-weight: 500;
    padding: 15px 20px;
    box-shadow: 0 4px 8px 0 #afafaf;
    transition-duration: 0.1s;
    transition-timing-function: ease-in;
    
    &:hover{
        transform: scale(1.1);
        transition-duration: 0.1s;
        transition-timing-function: ease-in;
        @include shadow_darker;
        background: linear-gradient(160deg, #ff79d9ef 5%, #9256dcef 100%);
    }
}