@include for-phone-up{
    .location{
        display: flex;
        flex-wrap: nowrap;
        background-color: rgb(235, 235, 235); 
        justify-content: center;
        align-items: center;
        max-height: 50px;
        color: rgb(59, 59, 59);
        -webkit-box-shadow: inset 0 3px 3px 0 rgba(131, 131, 131, 0.322);
        -moz-box-shadow: inset 0 3px 3px 0 rgba(131, 131, 131, 0.322);
        box-shadow: inset 0 3px 3px 0 rgba(131, 131, 131, 0.322);

        i.fas.fa-map-marker-alt{
            margin-right: 15px;
        }
    }
}

@include for-desktop-up{
    .location{
        display: flex;
        justify-content: center;
        width: 100%;
    }
}