@include for-phone-up{
    #restaurant {
        
        .card{
            display: flex;
            max-width: 300px;
            width: 100%;
            height: 180px;
            box-shadow: 0 4px 8px 0 #e9e9e9;
            border-radius: 15px;
            background-color: white;
            margin: 5px 10px 30px 5px;
        }

        a{
            display: block;
            height:180px;
            width: 100%;
            text-decoration: none;
            color: black;
        }

        img{
            z-index: 0;
            width: 100%;
            height: 120px;
            object-fit: cover;
            border-radius: 15px 15px 0 0;
        }

        .cardText{
            max-height: 50px;
            padding-left: 15px;
            
            p{
                max-width: 70%;
                font-size: 0.9em;
                margin: 5px 0px 5px 0px;
            }
        }
        
        h3{
            max-width: 70%;
            font-size: 1em;
            margin: 5px 0px 5px 0px;
        }

        i{
            position: relative;
            left: 210px;
            bottom: 35px;
        }

        .new{  
            position: relative;
            
            p{
                font-size: 0.7em;
                font-weight: 700;
                text-align: center;
                max-width: 65px;
                border-radius: 3px;
                padding: 5px 2px;
                background-color: $third-color;
                color: $third-color_darker;
                right: 0;
                position: absolute;
                margin: 10px 10px 0 0;
                z-index: 1;
                width: 100%;
            }
        }
    }
}

@include for-tablet-up{
    #restaurant {
        i{
            left: 230px;
        }
    }
}