
body{
    padding: 0;
    margin: 0;
}

.container{
    display: flex;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

*,*:focus,*:hover{
    outline:none;
}

*{
    box-sizing: border-box;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: black;
}